:root {
    --kbdcontainerwidth : 40vw;
    --kbdcontainerheight : 200px; 
    --kbdfontsize : calc(0.05 * var(--kbdcontainerwidth));
    --kbdbordercolor : var(--midgrey); /* derive from container application */ 
    --kbdbgcolor : var(--volscolor3); /* derive from container application */
    --kbdkeybgcolor : var(--volscolor1);/* derive from container application */
    --kbdkeyshadowcolor : var(--midgrey);/* derive from container application */

    --kbdpadding-vert: 15px;
    --kbdpadding-horiz: 10px;
    --kbdcontentwidth: calc( var(--kbdcontainerwidth) - 2px - (2 * var(--kbdpadding-horiz)) ) ;

    --kbdinputwidth :  100%; /*calc(0.9 * var(--kbdcontainerwidth));*/
    --kbdinputmargin-horiz : calc((var(--kbdcontainerwidth) - var(--kbdinputwidth)) / 2);
    --kbdinputmargin-vert : calc(0.03 * var(--kbdcontainerwidth));
    
    --kbdkeymargin-vert : 4px;
    --kbdkeymargin-horiz : 3px;
    --kbdkeywidth : calc( (0.1 * var(--kbdcontentwidth)) - (2 *  var(--kbdkeymargin-horiz)) ) ;
}
#keyboardcontainer { 
    user-select: none;
    background-color: var(--kbdbgcolor);
    width: 100%;
    max-height: 90%;
    display: grid;
    grid-template-rows: 1fr 5fr ;
}
#inputcontainer{
    width: min-content;
    margin: 0 auto;
    /*padding: 2% 0;*/
}
#kbdinput, #kbdmsg {
    font-size: var(--kbdfontsize);
    border: 1px solid black;
}
#kbdmsg {
    /*overflow-y : scroll;*/
    height:140px;
}
#keyboard { 
    margin: 0;
    background-color: var(--volscolor5);
    width: 93%;
    height: 95%;
    padding: 3%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.key-row { 
    display: grid;
    grid-template-rows: 1fr;
    align-content: space-between;
    justify-content: start;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0; 
    height: 100%;
    width: 98% ;
}
.key-row.QWE{
    grid-template-columns: repeat(10, 1fr);
}
.key-row.ASD{
    grid-template-columns: 1fr repeat(9, 3fr) 2fr;
}
.key-row.ZXC{
    grid-template-columns: 2fr repeat(9, 2fr) 1fr;
}
.key-row.SPACE{
    grid-template-columns: 3fr 8fr 3fr ;
}
.key {
    width: 95%;        /* var(--kbdkeywidth); */
    height: 95%;
    font-size: min(2.5vh,2.0vw);
    font-weight: 700;
    margin: var(--kbdkeymargin-vert) auto; /*                 var(--kbdkeymargin-horiz);*/
    background-color: var(--kbdkeybgcolor) ;
    border: 1px solid var(--kbdkeybgcolor);
    box-shadow: 2px 2px 1px var(--kbdkeyshadowcolor);
    outline: none;
    cursor: pointer;
    touch-action: none;
    font-family: inherit;
}
.key:active {
    box-shadow: none;
    margin-top: calc(var(--kbdkeymargin-vert) + 1) ;  /* move down */
    margin-bottom: calc(var(--kbdkeymargin-vert) - 1); /* move down */
    margin-left: calc(var(--kbdkeymargin-horiz) + 1); /* move right */
    margin-right: calc(var(--kbdkeymargin-horiz) - 1);  /* move right */
}